<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <tabset>
    <tab heading="Users">
      <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
          <a ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        </li>
      </ul>
    </tab>
    <tab heading="Products">
      <button class='btn btn-primary' ng-click='addProduct = true' >Add Product</button>


       <!------- Add Product View ---->
      
      <div ng-show='addProduct'><h3>Add New Product</h3>
        <form name = 'productForm' ng-submit='createNewProduct()'>
          <div>
            <input type = 'text' placeholder = 'Product Name' ng-model='newProduct.name'>
          </div>
          <div>
            <input type = 'text' placeholder = 'Product Description' ng-model='newProduct.description'>
          </div>
          
          <div>
            <select ng-model='$parent.$parent.selectedCategory'>
              <option ng-repeat='category in categories' value='{{category.name}}'>{{category.name}}
              </option>
            </select>
            <button class='btn btn-primary btn-xs' type='button' ng-click="addCategory()">+</button>
          </div>
          <div>
            <ul>Associated Categories
              <li ng-repeat='category in newProduct.category'>{{category}}
                <button type='button' class='btn btn-danger btn-xs' ng-click='removeCategory(category)'>x</button>
              </li>

            </ul>
          </div>


          <div>
            <button class='btn btn-primary' type='submit'>Save</button>
            <button class='btn btn-danger' type ='button' ng-click='addProduct=false'>Cancel</button>
          </div>
          <h4>Validation: {{productForm}}</h4>
          <h4>{{newProduct}}</h4>
        </form>
      </div>  
      <!------- End Add Product View ---->
      <!---- Update Product View ------>
      <div ng-show="updateProduct"><h1>Update Product {{testing}} </h1>



      </div>



      <div ng-hide="updateProduct">
        <ul class="list-group">
          <li  class="list-group-item" ng-repeat="product in products" >
            <adminproduct product='product'></adminproduct>
          </li>
        </ul>
      </div>
    </tab>
    <tab heading="Orders">
      Orders
    </tab>
  </tabset>




</div>
