<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <tabset>
    <tab heading="Users">
      <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>

      <div ng-show='updateUser'>
          <form name="userForm" ng-submit="userUpdate(userToUpdate)" novalidate>
              <div class="form-group">
                  <label>Email</label>
                  <input type="email" value ='{{userToUpdate.email}}' ng-model ='userToUpdate.email' class="form-control" ng-model="user.email" required>
              </div>

              <div class="form-group">
                  <label>Reset Password</label>
                  <input type="password" name="password" class="form-control" ng-model='userToUpdate.password'>
              </div>

              <div class="form-group">
                  <label>Confirm New Password</label>
                  <input type="password" name= 'confirm_password' class="form-control" ng-model="userToUpdate.confirmPassword" ui-validate="'$value==userToUpdate.password'" ui-validate-watch="'userToUpdate.password'" >
                  <div ng-show='!userForm.$valid && !!userForm.$error.validator && !userForm.confirm_password.$pristine'><span style='color:red'>Passwords Don't Match</span>
                  </div>
              </div>
              
              <div class='form-group'>
                <label>Permissions</label>
                <select ng-model='userToUpdate.role'>
                  <option ng-repeat='role in roles' >{{role.role}}</option>
                </select>
              </div>

              <button  class='btn btn-primary' ng-click='updateUser=false' ng-disabled='!userForm.$valid'>Save</button>
              <button type='button' class='btn btn-danger' ng-click='updateUser=false'>Cancel</button>
          </form>
      </div>

      <div ng-hide="updateUser">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="user in users">
            <span>
              <strong>{{user.name}}</strong>
              <a ng-click="$parent.updateUser=true; $parent.userToUpdate=user"><span class="glyphicon glyphicon-wrench pull-right"></a>
            </span> <br>
            <span class="text-muted">{{user.email}}</span>
            <a ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a><br>
            <span class='text-muted'>Permissions: {{user.role}}</span>
          </li>
        </ul>
    </div>
    </tab>
    <tab heading="Products">
      <button class='btn btn-primary' ng-show='!updateProduct && !addProduct' ng-click='addProduct = true' >Add Product</button>

       <!------- Add Product View ---->
      
      <div ng-show='addProduct'><h3>Add New Product</h3>
        <add-product></add-product>
      </div>  
      <!------- End Add Product View ---->

      <!---- Update Product View ------>
      <div class="nav-bar" ng-show="updateProduct"><h3>Update Product</h3>
        <update-product></update-product>
      </div>
      <!------- End Update Product View ---->

      <div ng-hide="updateProduct || addProduct">
        <ul class="list-group">
          <li  class="list-group-item" ng-repeat="product in products" ng-class="{unavailable:!product.available}">
            <span>
              <strong>{{product.name}}</strong> - {{product.available ? "Available":"Unvailable"}} 
              <a ng-click="$parent.updateProduct=true; $parent.productToUpdate=product"><span class="glyphicon glyphicon-wrench pull-right"></a>
            </span>
            <br>
            <span class="text-muted">{{product.description}}</span>
            <a ng-click="deleteProduct(product)" class="trash">
              <span class="glyphicon glyphicon-trash pull-right"> </span>
            </a>
            <br>
            <span class='text-muted'>Qty: {{product.qty}}</span>
          </li>
        </ul>
      </div>
    </tab>
    <tab heading="Orders">
      Orders
    </tab>
  </tabset>
</div>

<div class="col-sm-12" ng-include="'components/footer/footer.html'"></div>
