$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.product-image{
  width: 20%;
}

.product-image-thumb{
  width: 40%;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'cart/cart.scss';
@import 'checkout/checkout.scss';
@import 'main/main.scss';
@import 'orderDetails/orderDetails.scss';
@import 'orderHistory/orderHistory.scss';
@import 'product/product.scss';
@import 'writeReview/writeReview.scss';
@import 'modal/modal.scss';
// endinjector
