$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.center-items {
	text-align: center;
}

.product-image{
  width: 20%;
}

.product-image-thumb{
  width: 40%;
}

.image-preview{
	width: 200px;
	height: 200px;
	margin: 5px 0px;
}

.category-section {
	display: block;
	width: 96%;
	height: 34px;
	padding: 6px 12px;
	line-height: 1.43;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 5px 15px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'addProduct/addProduct.scss';
@import 'admin/admin.scss';
@import 'cart/cart.scss';
@import 'main/main.scss';
@import 'product/product.scss';
@import 'updateProduct/updateProduct.scss';
@import 'modal/modal.scss';
// endinjector
