<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Slack Store</h1> <!-- I approve of this typo -->
    <p class="lead">Buy wonderful products</p>
  </div>
  <form class="navbar-form" role="search" ng-submit="search(searchTerm)">
    <div class="form-group">
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {{searchTerm.category || 'Categories'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" ng-repeat="category in categories">
                <a role="menuitem" tabindex="-1" ng-click="searchTerm.category=category.name">
                  {{category.name}}
                </a>
              </li>
            </ul>
          </span>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm.name">
    </div>
    <button class="btn btn-default" ng-click="searchClick=true">Submit</button>
  </form>
</header>

<div class="container">
  <h1 ng-show="searchClick">{{searchTerm.category}}</h1>
  <div class="row product-grid">
    <div class="col-lg-12">
      <ul class="nav nav-stacked product-display col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
        <li style="text-align:center;">
          <div><a href="/product/{{product._id}}" tooltip="{{product.name}}">
            <img class="product-image" src="{{product.image}}"/></a>
          </div>
          <div>{{product.name}}
          </div>
          <div>{{product.price | currency}}
          </div>
          <button ng-click="addToCart(product._id)" class="btn btn-sm btn-primary" style="margin-top:5px;">Add to Cart</button>
          </li>
      </ul>
    </div>
  </div>
</div>

<img src="http://localhost:9187/pixel.gif?key=mainPage" alt="" />
