.detail-left {
	padding-left: 100px;
}
.detail-left > h1{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	border-radius: 20px;
}

.product-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 25px;
	
}