<form name = 'productForm' ng-submit='createNewProduct(newProduct)'>
  <div class="row col-md-3 center-items">
  	<div ng-include="'components/filepicker/filepicker.html'"></div>
    <div>
      <img class="image-preview" src="{{newProduct.image}}">
    </div>
    <input class="btn btn-primary" type="filepicker" data-fp-apikey="AN7AnbQhRSAeOf7vYBLeBz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-services="COMPUTER" onchange="event.fpfile.url" ng-model="newProduct.image">
  </div>
  <div class="row col-md-9">
    <div class="form-group">
      <label class="col-sm-12 control-label">Product Name</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="product name" ng-model="newProduct.name">
      </div>
      <label class="col-sm-12 control-label">Product Description</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="product description" ng-model="newProduct.description">
      </div>
      <label class="col-sm-12 control-label">Price</label>
      <div class="col-sm-12">
        <input type="number" class="form-control" placeholder="price" ng-model="newProduct.price">
      </div>
      <label class="col-sm-12 control-label">Quantity</label>
      <div class="col-sm-12">
        <input type="number" class="form-control" placeholder="quantity" ng-model="newProduct.qty">
      </div>
      <label class="col-sm-12 control-label">Category</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model='$parent.$parent.selectedCategory'>
        	<option class="text-muted" value="" disabled selected>Select Categories</option>
          <option ng-repeat='category in categories' value='{{category.name}}'>{{category.name}}
          </option>
        </select>
      </div>
      <div class="col-sm-2">
        <button class='btn btn-primary btn-sm' type='button' ng-click="addCategory()">+</button>
      </div>
      <div class="col-sm-12 category-section">
        <ul>
          <li class="unstyle col-sm-2 " ng-repeat='category in newProduct.category'>
            <button type='button' class='btn btn-danger btn-xs' ng-click='removeCategory(category)'>{{category}}</button>
          </li>
        </ul>
      </div>
	    <div class="col-sm-12 btn-group">
	      <button type="submit" class="btn btn-primary" ng-click="addProduct=false">Save</button>
	      <button ng-click='addProduct=!addProduct' type='button' class='btn btn-danger'>Cancel</button>
	    </div>
	  </div>
  </div>
</form>

