.cart-img {
	width: 10%;
}

.cart-qty {
	width: 10%;
}

.cart-qty input{
	width: 75%;
}

.cartCheckout {
	width: 100%;
	td {
		border-top: 1px solid #C8C8C8;
		text-align: center;
		width: 18%;
	}
}

.cart-container {
	text-align: center;
}