<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
	<div class="cart-container">
		<div ng-show="!cart.length">
			<h1>Empty Cart!</h1>
			<img class="cart-img" src="http://stephenplusplus.github.io/yeoman.io/assets/img/yeoman-009.png"><br>
			<a href="/"><button class="btn btn-danger">Add things to your cart!</button></a>
		</div>
		<h1 ng-show="cart.length">My Cart</h1>
	</div>
	<form name="cart" ng-submit='cartUpdate()'>
	<div class="panel panel-default" ng-show="cart.length">
	  <table id="table-style" data-row-style="rowStyle" class="cartCheckout"> 
	  	<tr>
			<td></td>
	    	<td>Item</td>
	    	<td>Price</td>
	    	<td>Quantity</td>
	    	<td>Cost</td>
	    	<td>Remove</td>
	  	</tr>
	  	<tr ng-show="cartIsEmpty">
	  		<td colspan="6">
	  			Your cart is empty!
	  		</td>
	  	</tr>
	  	<tr ng-repeat="product in cart">
			<td class="cart-img"><img class="product-image-thumb" src="{{product.productId.image}}"></td>
	  		<td>{{product.productId.name}}</td>
	  		<td> {{product.productId.price | currency: "$ "}}</td>
			<td class="cart-qty"><input type="number" class="form-control pull-right" min="1" ng-model="product.qty" ng-change="$parent.isSaved=false"></td>
	  		<td>{{product.qty * product.productId.price | currency: "$ "}}</td>
	  		<td><span style="cursor: pointer;" class="glyphicon glyphicon-remove" ng-click="removeItem(product.productId._id)"></span> </td>

	  	</tr>
	  	<tr>
	  		<td colspan="4"></td>
	  		<td><b>{{}}</b></td>
	  		<td colspan="2"></td>
	  	</tr>		  	
	  </table>
	
	</div>
	<div ng-show="isSaved">
		Your Cart is saved.
	</div>

	<div class="button-group" ng-show="cart.length">
  		<button type="submit" class="btn btn-primary">Save</button>
  		<a href="/checkout"><button type="button" class="btn btn-danger">Checkout</button></a>
  		<a href="/"><button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping!</button></a>
	</div>
	</form>
</div>
<div class="col-sm-12" ng-include="'components/footer/footer.html'"></div>

