<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
	<div style="text-align: center;">
		<h1>My Cart</h1>
	</div>
	<br>
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div>{{order}}</div>
	  <!-- Table -->
	  <table class="table">
	  	<tr>
				<td></td>
	    	<td>Item</td>
	    	<td>Price</td>
	    	<td>Quantity</td>
	    	<td>Cost</td>
				<td>Remove</td>
	  	</tr>
	  	<tr ng-repeat="product in order">
				<td><img class="product-image" src="{{product.product.image}}"></td>
	  		<td>{{product.product.name}}</td>
	  		<td>{{product.product.price}}</td>
				<td><input type="number" class="form-control" value="{{product.qty}}"></td>
	  		<td>{{product.qty * product.product.price}}</td>
	  		<td><span class="glyphicon glyphicon-remove" ng-click="removeItem(product)"></span> </td>

	  	</tr>
	  </table>
</div>
</div>
